.block-osteopatia-treatments {
    padding: 235px 0px 70px 0px;
    background: #FFF url('../img/bg-image-empresa-2.png') right 1700px / auto auto no-repeat;

    // Breakpoints
    @include respond-to($phone) {
        padding: 150px 0px 60px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 150px 0px 60px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 150px 0px 60px 0px;
    }

    @include respond-to($medium-large) {
        padding: 150px 0px 60px 0px;
    }

    p {
        text-align: justify;
        line-height: 24px;
        font-size: 16px;
        color: #072B33;
    }

    h3 {
        margin-top: 60px;
        text-transform: uppercase;
        line-height: 53px;
        font-weight: 300;
        font-size: 38px;
        color: #343434;
    }

    .btn-info {
        padding: 13px 22px;
        border: 1px solid #0090A5;
        background-color: #0090A5;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 23px;
        color: #FFF;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 30px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 30px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 30px;
        }

        &:hover {
            border: 1px solid #A8BB26;
            background-color: #A8BB26;
            color: #FFF;
        }
    }
}