.block-osteopatia-treatments {
    padding: 235px 0px 70px 0px;
    background: #FFF url('../img/bg-image-empresa-2.png') right bottom / auto auto no-repeat;

    // Breakpoints
    @include respond-to($phone) {
        padding: 150px 0px 30px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 150px 0px 30px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 150px 0px 30px 0px;
    }

    @include respond-to($medium-large) {
        padding: 150px 0px 30px 0px;
    }

    .img-fluid {
        width: 100%;
    }

    p {
        text-align: justify;
        line-height: 24px;
        font-size: 16px;
        color: #072B33;
    }

    .bg-container-osteopatia-main {
        background-color: #FFF;

        .img-fluid {
            margin-bottom: 41px;

            // Breakpoints
            @include respond-to($phone) {
                margin-bottom: 30px;
            }

            @include respond-to($phone-tablet) {
                margin-bottom: 30px;
            }

            @include respond-to($tablet-medium) {
                margin-bottom: 30px;
            }

            @include respond-to($medium-large) {
                margin-bottom: 30px;
            }
        }

        h1 {
            margin-top: 56px;
            margin-bottom: 56px;
            padding-left: 100px;
            font-weight: 300;
            line-height: 50px;
            font-size: 38px;
            color: #707070;

            // Breakpoints
            @include respond-to($phone) {
                margin-top: 0px;
                margin-bottom: 30px;
                padding-left: 0px;
                text-align: center;
            }

            @include respond-to($phone-tablet) {
                margin-top: 0px;
                margin-bottom: 30px;
                padding-left: 0px;
                text-align: center;
            }

            @include respond-to($tablet-medium) {
                margin-top: 0px;
                margin-bottom: 30px;
                padding-left: 0px;
                text-align: center;
            }

            @include respond-to($medium-large) {
                margin-top: 0px;
                margin-bottom: 30px;
                padding-left: 0px;
                text-align: center;
            }
        }

        p {
            margin-bottom: 41px;
            font-weight: 400;
            line-height: 24px;
            font-size: 16px;
            color: #072B33;
        }
    }

    .bg-container-osteopatia {
        background: transparent url('../img/bg-empresa.png') top left / 100% 100% no-repeat;

        // Breakpoints
        @include respond-to($phone) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include respond-to($phone-tablet) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include respond-to($tablet-medium) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include respond-to($medium-large) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .container-main-top {
            width: 100%;
            max-width: 352px;
            margin: 140px auto 0px auto;

            // Breakpoints
            @include respond-to($phone) {
                max-width: 100%;
                margin-top: 30px;
            }

            @include respond-to($phone-tablet) {
                max-width: 100%;
                margin-top: 30px;
            }

            @include respond-to($tablet-medium) {
                max-width: 100%;
                margin-top: 30px;
            }

            @include respond-to($medium-large) {
                max-width: 100%;
                margin-top: 30px;
            }

            @include respond-to($large-extra) {
                margin-top: 80px;
            }
        }

        .img-fluid {
            margin-bottom: 110px;

            // Breakpoints
            @include respond-to($phone) {
                margin-bottom: 30px;
            }

            @include respond-to($phone-tablet) {
                margin-bottom: 30px;
            }

            @include respond-to($tablet-medium) {
                margin-bottom: 30px;
            }

            @include respond-to($medium-large) {
                margin-bottom: 30px;
            }
        }

        h2 {
            margin-bottom: 41px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            color: #006B87;

            // Breakpoints
            @include respond-to($phone) {
                margin-bottom: 30px;
            }

            @include respond-to($phone-tablet) {
                margin-bottom: 30px;
            }

            @include respond-to($tablet-medium) {
                margin-bottom: 30px;
            }

            @include respond-to($medium-large) {
                margin-bottom: 30px;
            }

            span {
                font-size: 40px;
            }
        }

        h3 {
            min-height: 48px;
            margin-bottom: 27px;
            padding-left: 63px;
            background: transparent url('../img/icon-list-physiotherapy-treatments.png') left top no-repeat;
            font-weight: 400;
            line-height: 24px;
            font-size: 18px;
            color: #006B87;
        }

        p {
            margin-bottom: 65px;
            font-weight: 400;
            line-height: 24px;
            font-size: 16px;
            color: #072B33;

            // Breakpoints
            @include respond-to($phone) {
                margin-bottom: 30px;
            }

            @include respond-to($phone-tablet) {
                margin-bottom: 30px;
            }

            @include respond-to($tablet-medium) {
                margin-bottom: 30px;
            }

            @include respond-to($medium-large) {
                margin-bottom: 30px;
            }
        }
    }

    h4 {
        margin-top: 60px;
        text-transform: uppercase;
        line-height: 53px;
        font-weight: 300;
        font-size: 38px;
        color: #343434;
    }

    .btn-info {
        padding: 13px 22px;
        border: 1px solid #0090A5;
        background-color: #0090A5;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 23px;
        color: #FFF;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 30px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 30px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 30px;
        }

        &:hover {
            border: 1px solid #A8BB26;
            background-color: #A8BB26;
            color: #FFF;
        }
    }
}