@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap');

* {
    font-family: 'Poppins', ;
    font-weight: 400;
    font-size: 18px;
    box-shadow: none !important;
    outline: 0px !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    background: #FFF;
    overflow-x: hidden;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Botones*/
.btn-whatsapp {
    top: 300px;
    right: 0px;
    position: fixed;
    padding: 43px 21px 10px 15px;
    background: rgba(0, 107, 135, 0.75) url('../img/icon-whatsapp.png') 32px 10px no-repeat;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 14px;
    font-size: 13px;
    color: #FFF;
    z-index: 99999;

    span {
        font-size: 16px;
    }

    &:hover {
        color: #A8BB26;
    }
}