header {
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    background: transparent url('../img/bg-header.png') left 105px / 100% 43px no-repeat;
    z-index: 99999;

    // Breakpoints
    @include respond-to($phone) {
        background: transparent;
    }

    @include respond-to($phone-tablet) {
        background: transparent;
    }

    @include respond-to($tablet-medium) {
        background: transparent;
    }

    @include respond-to($medium-large) {
        background: transparent;
    }


    .navbar {
        background-color: transparent !important;

        .navbar-brand {

            .img-fluid {
                width: 179px;

                // Breakpoints
                @include respond-to($phone) {
                    width: 100px;
                }

                @include respond-to($phone-tablet) {
                    width: 100px;
                }

                @include respond-to($tablet-medium) {
                    width: 100px;
                }

                @include respond-to($medium-large) {
                    width: 100px;
                }
            }
        }

        .navbar-toggler {
            background-color: #FFF;
        }

        .navbar-collapse {

            .container-menu {
                width: 100%;

                // Breakpoints
                @include respond-to($phone) {
                    margin-top: 10px;
                    padding: 15px 15px 5px 15px;
                    background: rgba(0, 144, 165, 1);
                }

                @include respond-to($phone-tablet) {
                    margin-top: 10px;
                    padding: 15px 15px 5px 15px;
                    background: rgba(0, 144, 165, 1);
                }

                @include respond-to($tablet-medium) {
                    margin-top: 10px;
                    padding: 15px 15px 5px 15px;
                    background: rgba(0, 144, 165, 1);
                }

                @include respond-to($medium-large) {
                    margin-top: 10px;
                    padding: 15px 15px 5px 15px;
                    background: rgba(0, 144, 165, 1);
                }

                .nav {
                    margin-bottom: 25px;

                    // Breakpoints
                    @include respond-to($phone) {
                        width: 100%;
                        margin-bottom: 0px;
                    }

                    @include respond-to($phone-tablet) {
                        width: 100%;
                        margin-bottom: 0px;
                    }

                    @include respond-to($tablet-medium) {
                        width: 100%;
                        margin-bottom: 0px;
                    }

                    @include respond-to($medium-large) {
                        width: 100%;
                        margin-bottom: 0px;
                    }

                    .nav-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;

                        &.pr-5 {

                            // Breakpoints
                            @include respond-to($phone) {
                                width: 100%;
                                margin-bottom: 15px;
                                padding-right: 0px !important;
                                align-items: center;

                                .nav-link {
                                    padding-left: 0px !important;
                                }
                            }

                            @include respond-to($phone-tablet) {
                                width: 100%;
                                margin-bottom: 15px;
                                padding-right: 0px !important;
                                align-items: center;

                                .nav-link {
                                    padding-left: 0px !important;
                                }
                            }

                            @include respond-to($tablet-medium) {
                                width: 100%;
                                margin-bottom: 15px;
                                padding-right: 0px !important;
                                align-items: center;

                                .nav-link {
                                    padding-left: 0px !important;
                                }
                            }

                            @include respond-to($medium-large) {
                                width: 100%;
                                margin-bottom: 15px;
                                padding-right: 0px !important;
                                align-items: center;

                                .nav-link {
                                    padding-left: 0px !important;
                                }
                            }
                        }

                        .nav-link {
                            padding: 0px 0px 0px 14px;
                            line-height: 23px;
                            font-weight: 400;
                            font-size: 21px;
                            color: #A8BB26;

                            .img-fluid {
                                width: auto;
                                height: 29px;

                                &.mr-3 {

                                    // Breakpoints
                                    @include respond-to($phone) {
                                        margin-right: 5px !important;
                                    }

                                    @include respond-to($phone-tablet) {
                                        margin-right: 5px !important;
                                    }

                                    @include respond-to($tablet-medium) {
                                        margin-right: 5px !important;
                                    }

                                    @include respond-to($medium-large) {
                                        margin-right: 5px !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .navbar-nav {
                    width: 100%;
                    /*width: 150%;
                    margin-right: -50%;
                    padding-right: 50%;*/
                    //background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 144, 165, 0.2) 100%) top left no-repeat;

                    // Breakpoints
                    @include respond-to($phone) {
                        width: 100%;
                        margin-right: 0px;
                        padding-right: 0px;
                        background: transparent;
                    }

                    @include respond-to($phone-tablet) {
                        width: 100%;
                        margin-right: 0px;
                        padding-right: 0px;
                        background: transparent;
                    }

                    @include respond-to($tablet-medium) {
                        width: 100%;
                        margin-right: 0px;
                        padding-right: 0px;
                        background: transparent;
                    }

                    @include respond-to($medium-large) {
                        width: 100%;
                        margin-right: 0px;
                        padding-right: 0px;
                        background: transparent;
                    }

                    .nav-item {
                        margin-right: 42px;

                        // Breakpoints
                        @include respond-to($phone) {
                            width: 100%;
                            margin-right: 0px;
                        }

                        @include respond-to($phone-tablet) {
                            width: 100%;
                            margin-right: 0px;
                        }

                        @include respond-to($tablet-medium) {
                            width: 100%;
                            margin-right: 0px;
                        }

                        @include respond-to($medium-large) {
                            width: 100%;
                            margin-right: 0px;
                        }

                        .nav-link {
                            padding: 13px 0px 0px 0px;
                            border-bottom: 5px solid transparent;
                            text-transform: uppercase;
                            letter-spacing: 0;
                            font-weight: 400;
                            line-height: 25px;
                            font-size: 18px;
                            color: #0090A5;
                            opacity: 1;

                            // Breakpoints
                            @include respond-to($phone) {
                                color: #FFF;
                            }

                            @include respond-to($phone-tablet) {
                                color: #FFF;
                            }

                            @include respond-to($tablet-medium) {
                                color: #FFF;
                            }

                            @include respond-to($medium-large) {
                                color: #FFF;
                            }

                            &:hover {
                                border-bottom: 5px solid #A8BD24;
                            }
                        }

                        &.active {

                            .nav-link {
                                border-bottom: 5px solid #A8BD24;
                            }
                        }

                        &:last-child {
                            margin-right: 0px;

                            .nav-link {
                                padding-right: 0px;
                            }
                        }

                        &.dropdown {

                            .dropdown-menu {
                                border: 1px solid #A8BD24;
                                -webkit-border-radius: 0px;
                                -moz-border-radius: 0px;
                                border-radius: 0px;

                                .dropdown-item {
                                    padding: 2px 15px;
                                    font-weight: 400;
                                    line-height: 25px;
                                    font-size: 18px;
                                    color: #0090A5;

                                    &:hover {
                                        background-color: transparent;
                                        color: #A8BD24;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}