# Activar RewriteEngine
RewriteEngine on

RewriteCond %{HTTP_HOST} ^localhost$

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

#   Reescribir la URL solicitada por el usuario

#   Inicio
RewriteRule ^([a-zA-Z]+)/inicio$  index.php?lang=$1 [L]